* {
  margin: 0;
  padding: 0;
  list-style: none; }

.bg {
  width: 1280px;
  height: 800px;
  position: relative;
  background: url(images/3.jpg);
  margin: 0 auto; }
  .bg .box1 {
    width: 1280px;
    height: 70px;
    border: 1px solid #000;
    position: relative;
    text-align: center;
    color: white;
    background: darkseagreen;
    font: 36px "Microsoft Yahei"; }
    .bg .box1 .box11 {
      width: 63px;
      height: 62px;
      border: 1px solid #dddddd;
      border-radius: 70px;
      margin-top: 3px;
      margin-left: 30px;
      position: absolute;
      background-image: url(images/3.png); }
    .bg .box1 .box22 {
      width: 150px;
      height: 50px;
      margin-left: 100px;
      margin-top: 18px;
      color: #ddd;
      position: absolute;
      font-size: 18px; }
    .bg .box1 .box33 {
      width: 40px;
      height: 17px;
      background: #ccc;
      margin-left: 240px;
      margin-top: 23px;
      font-size: 14px;
      text-align: center;
      color: white; }
    .bg .box1 .box44 {
      width: 70px;
      height: 30px;
      margin-left: 370px;
      position: absolute;
      top: 15px; }
      .bg .box1 .box44 .box41 {
        width: 30px;
        height: 30px;
        float: left;
        background-image: url(images/11.png); }
      .bg .box1 .box44 .box42 {
        width: 30px;
        height: 30px;
        float: right;
        background-image: url(images/12.png); }
    .bg .box1 .sousuokuang {
      width: 300px;
      height: 30px;
      border: 2px solid #e8efea;
      border-radius: 10px;
      position: absolute;
      left: 450px;
      top: 15px; }
      .bg .box1 .sousuokuang .box43 {
        width: 35px;
        height: 30px;
        float: right;
        background-image: url(images/13.png); }
    .bg .box1 .box55 {
      width: 200px;
      height: 30px;
      right: 10px;
      position: absolute;
      top: 15px; }
      .bg .box1 .box55 .tubiao1 {
        width: 30px;
        height: 30px;
        float: left;
        background-image: url(images/444.png); }
      .bg .box1 .box55 .tubiao2 {
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 20px;
        background-image: url(images/222.png); }
      .bg .box1 .box55 .tubiao3 {
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 20px;
        background-image: url(images/333.png); }
      .bg .box1 .box55 .tubiao4 {
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 20px;
        background-image: url(images/00.png); }

.box {
  width: 400px;
  height: 730px;
  border: 1px solid #000;
  position: absolute; }
  .box .gequku {
    width: 400px;
    height: 50px;
    border-bottom: 1px solid #000;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    position: absolute; }
  .box li {
    width: 80%;
    padding: 10px 20px;
    margin-top: 43px;
    font-size: 14px; }
    .box li.active {
      color: red; }
  .box span {
    width: 50px;
    margin-top: -20px;
    margin-right: -20px; }
    .box span.active {
      color: red; }

.tupian {
  width: 620px;
  height: 715px;
  float: left;
  margin-left: 411px;
  padding-top: 15px; }
  .tupian .jiugongge {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    float: left;
    top: 10px;
    margin-right: 8px;
    margin-bottom: 28px;
    box-shadow: 0 0 50px darkseagreen;
    border-radius: 4px; }
  .tupian .z1 {
    background: url("images/98.jpg") no-repeat center center/100% 100%; }
  .tupian .z2 {
    background: url("images/93.jpg") no-repeat center center; }
  .tupian .z3 {
    background: url("images/96.jpg") no-repeat center center; }
  .tupian .z4 {
    background: url("images/95.jpg") no-repeat center center; }

.tupian1 {
  width: 240px;
  height: 700px;
  border: 1px solid palevioletred;
  float: left;
  margin-left: 4px; }
  .tupian1 .xiaotu {
    width: 200px;
    height: 200px;
    border-radius: 39px;
    box-shadow: 0 0 70px white;
    margin: 0 auto;
    margin-top: 11px;
    background: url("images/102.jpg") no-repeat center center/100% 100%; }
  .tupian1 .geci {
    width: 199px;
    height: 427px;
    border: 1px solid palevioletred;
    padding: 10px 20px; }
    .tupian1 .geci li {
      margin-bottom: 8px;
      line-height: 40px; }

.box2 {
  width: 1280px;
  height: 70px;
  border: 1px solid #000;
  position: absolute;
  top: 735px;
  background: darkseagreen; }
  .box2 .zuojiang {
    width: 32px;
    height: 33px;
    position: absolute;
    left: 70px;
    top: 20px;
    background-image: url(images/44.png); }
  .box2 .bo {
    width: 33px;
    height: 33px;
    left: 120px;
    position: absolute;
    top: 20px; }
    .box2 .bo .bofang {
      width: 100%;
      height: 100%;
      background: url(images/66.png); }
    .box2 .bo .zhanting {
      width: 100%;
      height: 100%;
      background-image: url(images/661.png);
      display: none; }
  .box2 .youjiang {
    width: 32px;
    height: 32px;
    left: 170px;
    position: absolute;
    top: 20px;
    background-image: url(images/55.png); }

.jindutiao {
  width: 400px;
  height: 5px;
  background: #000;
  left: 300px;
  position: absolute;
  top: 750px;
  bottom: 0;
  margin: auto;
  border-radius: 50px; }
  .jindutiao .xiaoyuan {
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background: #7a8e89;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.xuliebiao {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: 765px;
  right: 500px;
  text-align: center; }

.dibu {
  width: 350px;
  height: 30px;
  position: absolute;
  right: 100px;
  top: 760px; }
  .dibu .dibu1 {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px; }
  .dibu .w1 {
    background: url("images/000.png"); }
  .dibu .w2 {
    background: url("images/111.png"); }
  .dibu .w3 {
    background: url("images/666.png"); }
  .dibu .w4 {
    background: url("images/777.png"); }
  .dibu .w5 {
    background: url("images/888.png"); }
  .dibu .w6 {
    background: url("images/999.png"); }

.gequliebia li {
  cursor: pointer; }
